{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div dir="rtl">
<div class="container">
    <div class="signup">

    <div class="col-md-9" >
        <form method="POST" enctype="multipart/form-data">
            <h4 class="auth-header">تحديث معلوماتك المسعف</h4>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        {{profile_form.name|as_crispy_field}}
                    </div> 
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <img src="{{user.profile.image.url}}" alt="" width="100" height="100"> 
                    </div>
                </div>
            </div> 
            <!--<div class="row">
                <div class="col-sm-9">

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <p>
                            <label for="image" class="btn boxed-btn3">تسجيل دخول</label>
                            <input id="image" style="visibility:hidden;" type="file">
                        </p>
                    </div>
                </div>    
            </div>-->
            <hr> 
            <h5 class="auth-header  alig-center">المعلومات الشخصية</h5>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.father_name|as_crispy_field}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.mother_name|as_crispy_field}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.nation_num|as_crispy_field}} 
                    </div>
                </div>             
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.birth_place|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
          
                        {{profile_form.birth_date|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        {{profile_form.type_of_person|as_crispy_field}}  
                    </div>
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.social_status|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.phone|as_crispy_field}} 
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        {{profile_form.mobile|as_crispy_field}}  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.blood_type|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        {{user_form.email|as_crispy_field}}  
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{profile_form.name_e|as_crispy_field}}
            </div>
            <hr>
            <h5 class="auth-header">معلومات التحصيل العلمي</h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{profile_form.education|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{profile_form.education_detail|as_crispy_field}}
                    </div>
                </div>
            </div> 
            <hr>
            <h5 class="auth-header">الصفة الهلالية </h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{profile_form.sarc_adjective|as_crispy_field}}
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="auth-header">معلومات خاصة بالتطوع</h5>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.volunteer_date|as_crispy_field}} 
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.branchs|as_crispy_field}}  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group ">
                        {{profile_form.point|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.sub_branch|as_crispy_field}} 
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="auth-header">معلومات خاصة بالموظف</h5>
            <hr>
            <div class="form-group">
                {{profile_form.employment_date|as_crispy_field}}   
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.position|as_crispy_field}}   
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.position_e|as_crispy_field}}   
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="auth-header">معلومات خاصة بالاسعاف</h5>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{profile_form.advanced_date|as_crispy_field}}   
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.shoce_size|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        {{profile_form.waist_size|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group ">
                        {{profile_form.shoulder_size|as_crispy_field}}  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.center|as_crispy_field}}   
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.rank_in_team|as_crispy_field}}   
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="auth-header">معلومات خاصة بالمدربين</h5>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.training_postion|as_crispy_field}}  
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{profile_form.tot_date|as_crispy_field}}  
                    </div>
                </div>
            </div>
            <hr>
            <h5 class="auth-header">تعديل الصورة</h5>
            <hr>
            <div class="form-group">
                {{profile_form.image|as_crispy_field}}   
            </div>
            <hr>
            <div class="buttons-w "><button type="submit" class="btn btn-success col-sm-12">تعديل</button></div>
        </form>
    </div>
    </div>
</div>

 <!--         <input id="datepicker" >              -->
<script>
    $(function () {
    $("#datepicker").datepicker();
    });
</script>
{% endblock body %}